<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="background">
    <div style="display: inline-block; margin: 10px">
      <img src="../assets/images/gatos.gif" alt="">
      <img src="../assets/images/pastelBailarin.gif" alt="">
    </div>

    <div class="content">
      <div>
        <img src="../assets/images/imageAni.jpg" alt="">
        <p>Admiro tanto tu elegancia al andar</p>
        <p>Lo bien que frente a los demás te expresás</p>
        <p>Esas palabras que empleas al hablar...</p>
        <p>Lo que sabes de cultura general</p>
        <hr>
        <p>Tu simpatía y modo de reaccionar</p>
        <p>Esa mirada tanta seguridad</p>
        <p>Peinado y físico espectacular</p>
        <p>Tus costumbres, tu estatus social...</p>
        <p>Vos sos <b>Geniaaaal!</b></p>
      </div>
      <marquee behavior="alternate" style="font-size: 30px; color: red;">Feliz Cumpleaños Ani!!!</marquee>
    </div>

    <div style="display: inline-block; margin: 10px">
      <img src="../assets/images/niña.gif" alt="">
      <img src="../assets/images/perro.gif" alt="">
    </div>
  </div>
  <audio autoplay="true">
    <source src="../assets/music/FELIZ_CUMPLEAÑOS.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</body>

</html>
